<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <form>
    <div>
      <h1>Angular Wrangulars ToDo App</h1>
      <img src="../assets/angular-wrangulars-compressed.png" />
      <div>
        <h2>There are {{ todoArray.length }} items in the list</h2>
      </div>
      <div>
        <form
          (submit)="
            $event.preventDefault(); addTodo(todo.value); $event.target.reset()
          "
        >
          <input type="text" #todo placeholder="Add Todo" name="todo" ngModel />
        </form>
        <div class="data">
          <ul class="list-instyled">
            <li *ngFor="let todo of todoArray">
              <span>{{ todo }}</span>
              <i (click)="deleteItem(todo)">delete</i>
              <!-- <i (click)="deleteItem(todo)">edit</i> -->
              <form><input value="{{ todo }}" type="text" hidden /></form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
