<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <form>
    <div>
      <h1>Angular Wrangulars ToDo App</h1>
      <img src="../assets/angular-wrangulars-compressed.png" />
      <div>
        <h2>There are {{ todoArray.length }} items in the list</h2>
      </div>
      <div>
        <form
          (submit)="
            addTodo(todo.value); $event.preventDefault(); $event.target.reset()
          "
        >
          <input type="text" #todo placeholder="Add Todo" name="todo" ngModel />
        </form>
        <!-- <span (click)="addTodo(todo.value)">Add</span> -->

        <!-- <p>{{ todo.value }}</p> -->

        <div class="data">
          <ul class="list-instyled">
            <li *ngFor="let todo of todoArray">
              {{ todo }}
              <i (click)="deleteItem(todo)">delete</i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
